{% set newNotifications = app.user.newNotificationsAmmount %}
<div id="notificationArea" {% if newNotifications > 0 %}class="new"{% endif %}>
    <a href="{{ path('MooiWallBundle_NotificationMarkAsRead') }}"></a><p>{{ newNotifications }}</p>
    <div>
        <div>
            <h4>Meldingen</h4>
            {% if app.user.notifications|length < 1 %}
                <p>Je hebt nog geen meldingen</p>
            {% else %}
            <ul>
                {% for notification in app.user.notifications(5) %}
                <li>
                    <a href="{{ path('MooiWallBundle_WallIndex', {'name': notification.about.username}) }}#post{{ notification.post.id }}">
                        <p>{{ notification.about.fullname }} {{ notification.message }}</p>
                        <p class="quote">&quot;{{ notification.quote }}&quot;</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <a href="{{ path('MooiWallBundle_NotificationOverview') }}">Bekijk alle meldingen &raquo;</a>
            {% endif %}
        </div>
    </div>
</div>