{% block field_row %}
    <div class="form_row">
        {{ form_widget(form) }}
        {{ form_label(form) }}
        {{ form_errors(form) }}
        <div class="clearfix"></div>
    </div>
{% endblock field_row %}

{% block repeated_row %}
{% spaceless %}
    {% set i = 0 %}
    {% for child in form %}
        <div class="form_row">
            {{ form_widget(child) }}
            {{ form_label(child) }}
            {% if i == 0 %}
                {{ form_errors(form) }}
                {% set i = i + 1 %}
            {% endif %}
            <div class="clearfix"></div>
        </div>
    {% endfor %}
{% endspaceless %}
{% endblock repeated_row %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="errors">
        {% for error in errors %}
            <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}