{% extends '::twoColumnLayout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/studentListSearcher.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <h1>Leerlingen overzicht</h1>
    {% if teacher.getStudents()|length < 1 %}
        <p>Je hebt nog geen leerlingen aan jezelf toegewezen.</p>
    {% else %}
        <table class="dataTable">
            
            <thead>
            
                <tr>
                
                    <th>Naam</th>
                    <th class="action">&nbsp;</th>
                    <th class="action">&nbsp;</th>
                    
                </tr>
            
            </thead>
            <tbody>
            
                {% for student in teacher.getStudents() %}
                
                    <tr>
                    
                        <td>
                            <a href="{{ path('MooiWallBundle_WallIndex', {'id': student.getId()}) }}">{{ student.getFullname() }}</a>
                        </td>
                        <td>
                            <a href="{{ path('MooiUserBundle_UserEdit', {'username': student.getUsername()}) }}">Aanpassen</a>
                        </td>
                        <td>
                            <a class="confirm" href="{{ path('MooiUserBundle_TeacherRemoveStudentOverview', {'username': student.getUsername()}) }}">
                                Verwijderen
                                <h3 class="head">Leerling verwijderen</h3>
                                <p class="body">Weet je zeker dat je wilt dat {{ student.getFullname() }} niet langer een van je leerlingen is?</p>
                            </a>
                        </td>
                        
                    </tr>
                
                {% endfor %}
            
            </tbody>
            
        </table>
    {% endif %}
{% endblock %}
    
{% block sidebarContent %}
    <h1>Leerling toewijzen</h1>
    {% if students|length <= pupilList|length %}
        <p>Er konden geen leerlingen worden gevonden die nog niet aan jou zijn toegewezen.</p>
    {% else %}
        <form id="studentSearchForm" autocomplete="off">
            <input type="text" placeholder="Zoeken" id="studentSearchField" />
        </form>
        <ul id="studentList">
        {% for student in students %}
            {% if student.getId() not in pupilList %}
                <li><a href="{{ path('MooiUserBundle_TeacherAddStudentOverview', {'username': student.getUsername()}) }}">{{ student.getFullName() }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}