{% extends '::singleColumnLayout.html.twig' %}

{% form_theme form '::baseForm.html.twig' %}

{% block content %}
    <h1>Instellingen</h1>
    <form action="{{ path('MooiUserBundle_UserEdit', {'username': user.username}) }}" method="post" autocomplete="off" {{ form_enctype(form) }}>
        <div class="form_row">
            <span class="label">Gebruikersnaam</span>
            <span class="value">{{ user.username }}</span>
            <div class="clearfix"></div>
        </div>
        {{ form_widget(form) }}
        <div class="button">
            <input type="submit" class="button" value="Opslaan" />
            <p>Velden met een * zijn verplicht.</p>
            <div class="clearfix"></div>
        </div>
    </form>
    {% if user.avatar != null %}
        <img src="{{ user.avatar.webPath | apply_filter('thumbnail') }}" alt="avatar" />
    {% endif %}
{% endblock %}
    
    