{% extends '::baseLayout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/login.css') }}" />
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery/plugins/jquery.placeholder.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/addPlaceholders.js') }}" type="text/javascript"></script>
{% endblock %}
    
{% block body %}
    <div id="logoContainer">
        <img src="{{ asset('images/logoFullsize.jpg') }}" alt="Showkees" id="logo" />
    </div>
    <div id="loginContainer">
        <form id="loginForm">
        <fieldset id="fields">
            <label for="userName">Gebruikersnaam</label>
            <input id="userName" placeholder="Gebruikersnaam" type="text" class="inputField" />
            <label for="passWord">Wachtwoord</label>
            <input id="passWord" placeholder="Wachtwoord" type="password" class="inputField" />
        </fieldset>
        <fieldset id="button">
            <input type="submit" value="Login" class="button" />
        </fieldset>
        <p id="toolTip">
            <img src="{{ asset('images/tabletshowkees40.png') }}" alt="" class="icon" />
            Vul eerst je <strong>Gebruikersnaam</strong> en <strong>Wachtwoord</strong> in. Daarna klik je op <strong>login</strong>
        </p>
        </form>
    </div>
{% endblock %}