{% extends '::singleColumnLayout.html.twig' %}

{% form_theme form '::baseForm.html.twig' %}

{% block content %}
    <h1>Wijzig Post</h1>
    <p><a href="{{ path('MooiWallBundle_WallIndex', {'id': post.getWallOwner.getId }) }}">terug naar de wall</a></p>
    <form action="{{ path('MooiWallBundle_WallEdit', {'postId': post.getId}) }}" method="post" autocomplete="off" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="button">
            <input type="submit" class="button" value="Opslaan" />
            <div class="clearfix"></div>
        </div>
    </form>
    <p><a href="{{ path('MooiWallBundle_WallIndex', {'id': post.getWallOwner.getId }) }}">terug naar de wall</a></p>
{% endblock %}
    
    