{% extends '::twoColumnLayout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
     <script src="{{ asset('js/postForm.js') }}" type="text/javascript"></script>
{% endblock %}

{% block wall_owner_name %}
    {{ wallOwner.getUserName }}
{% endblock %}
     
{% form_theme form '::baseForm.html.twig' %}  
     
{% block content %}
        <div id="content_left">
            <h1>Posts</h1>
            <p>
                <a class="add_post_button" href="{{ path('MooiWallBundle_WallAdd', {'id': id }) }}">Voeg een post toe</a>
            </p>
            {% include 'MooiWallBundle:Wall:form.html.twig' %}
            {% for wallOwnerPost in wallOwner.getWallOwnerPosts %}
            <div class="post">
                <h2>
                    {{ wallOwnerPost.getWallOwner().getUserName() }}<span> over </span>{{wallOwnerPost.getSubject}}
                </h2>
                <p class="post_text">
                    {{ wallOwnerPost.getText() }}
                </p>
                <div class="image_gallery">
                    <img src="{{ asset('images/afbeelding.gif') }}" alt="" />
                    <img src="{{ asset('images/afbeelding.gif') }}" alt="" />
                    <img src="{{ asset('images/afbeelding.gif') }}" alt="" />
                </div>
                <ul class="postItems">
                    <li><a href="">Vind ik goed</a></li>
                    <li><a href="">Reageer</a></li>
                    <li>{{ wallOwnerPost.time|date('l,  j F Y') }}</li>
                </ul>
                {% if wallOwnerPost.getWallOwner().getId() == id %}
                <a href="{{ path('MooiWallBundle_WallEdit', {'postId': wallOwnerPost.getId() }) }}">
                    <img class="edit_post_button" src="{{ asset('images/close_delete.png') }}" alt="" />
                </a>
                <a class="confirm" href="{{ path('MooiWallBundle_WallDelete', {'postId' : wallOwnerPost.getId()}) }}">
                            <img class="delete_post_button" src="{{ asset('images/close_delete.png') }}" alt="" />
                            <h3 class="head">Post verwijderen</h3>
                            <p class="body">Weet je zeker dat je de post van {% if user.getUserName == wallOwnerPost.getWallOwner().getUserName() %} jezelf {% else %} {{ wallOwnerPost.getWallOwner().getUserName() }} {% endif %} wilt verwijderen?</p>
                        </a>
                {% endif %}
            </div>
            <!--<div class="replies">
                <h2>Reacties</h2>
                <div class="reply">
                    <p>
                        Hoi bert, wat had jij verschrikkelijk goed je best gedaan op die
                        sommen van afgelopen
                    </p>
                    <ul class="replyItems">
                        <li><a href="">Sender</a></li>
                        <li>1 dag geleden</li>
                    </ul>
                </div>
            </div>-->    
            {% else %}
                <div class="empty">Er zijn nog geen posts op deze wall</div>
            {% endfor %} 
        </div>    
        
{% endblock %}

{% block sidebarContent %}
    <h1>Hoi hier komt nog data</h1>
{% endblock %}