{% extends '::singleColumnLayout.html.twig' %}

{% form_theme form '::baseForm.html.twig' %}
{% block content %}
    <h1>Dit is de wall van {{ wallOwner.getFullName }}</h1>
    <h2>Posts</h2>
        <ul>
            {% for wallOwnerPost in wallOwner.getWallOwnerPosts %}
                <li>{{ wallOwnerPost.text }}</li>
                <li>van {{ wallOwnerPost.getSender.getFullName }}</li>
                <li>{{ wallOwnerPost.getSubjects.getDescription }}</li>
            {% else %}
                <li>No posts found</li>
            {% endfor %}
        </ul>
    
    <h2>Post aanmaken</h2>
    <form action="{{ path('MooiWallBundle_WallIndex', {'id': id }) }}" method="post" autocomplete="off" {{ form_enctype(form) }} >
        {{ form_widget(form) }}
        <div class="button">
            <input type="submit" class="button" value="Plaatsen" />
        </div>
    </form>
{% endblock %}
