{% extends '::singleColumnLayout.html.twig' %}

{% form_theme form '::baseForm.html.twig' %}
{% block content %}
    <h1>Posts</h1>
        <ul>
            {% for wallOwner in wallOwnerPosts %}
                <li>{{ wallOwner.text }}</li>
                <li>{{ wallOwner.getWallOwner.getEmail }}</li>
            {% else %}
                <li>No posts found</li>
            {% endfor %}
        </ul>
    
    <h1>Account aanmaken</h1>
    <form action="{{ path('MooiWallBundle_WallIndex', {id: '$'}) }}" method="post" autocomplete="off" {{ form_enctype(form) }} >
        {{ form_widget(form) }}
        <div class="button">
            <input type="submit" class="button" value="Plaatsen" />
        </div>
    </form>
{% endblock %}
